# Python (Caché y temporales)
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/

# Entorno Virtual
env/
venv/
ENV/
.env/

# Variables de entorno
.env
.env.local
.env.test

# Docker
pgdata/

# IDEs (VS Code, PyCharm)
.vscode/
.idea/

# Alembic
app/db/migrations/versions/*.pyc