version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: technical_test_db
    restart: always
    environment:
      POSTGRES_DB: technical_test
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
